@font-face {
	font-family: 'OpenSansHebrew';
	src: url('../fonts/OpenSansHebrew-Bold.eot');
	src: url('../fonts/OpenSansHebrew-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansHebrew-Bold.woff') format('woff'),
		url('../fonts/OpenSansHebrew-Bold.ttf') format('truetype'),
		url('../fonts/OpenSansHebrew-Bold.svg#OpenSansHebrew-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansHebrew';
	src: url('../fonts/OpenSansHebrew-LightItalic.eot');
	src: url('../fonts/OpenSansHebrew-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansHebrew-LightItalic.woff') format('woff'),
		url('../fonts/OpenSansHebrew-LightItalic.ttf') format('truetype'),
		url('../fonts/OpenSansHebrew-LightItalic.svg#OpenSansHebrew-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSansHebrew';
	src: url('../fonts/OpenSansHebrew-Light.eot');
	src: url('../fonts/OpenSansHebrew-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansHebrew-Light.woff') format('woff'),
		url('../fonts/OpenSansHebrew-Light.ttf') format('truetype'),
		url('../fonts/OpenSansHebrew-Light.svg#OpenSansHebrew-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansHebrew';
	src: url('../fonts/OpenSansHebrew-BoldItalic.eot');
	src: url('../fonts/OpenSansHebrew-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansHebrew-BoldItalic.woff') format('woff'),
		url('../fonts/OpenSansHebrew-BoldItalic.ttf') format('truetype'),
		url('../fonts/OpenSansHebrew-BoldItalic.svg#OpenSansHebrew-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSansHebrew';
	src: url('../fonts/OpenSansHebrew-Italic.eot');
	src: url('../fonts/OpenSansHebrew-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansHebrew-Italic.woff') format('woff'),
		url('../fonts/OpenSansHebrew-Italic.ttf') format('truetype'),
		url('../fonts/OpenSansHebrew-Italic.svg#OpenSansHebrew-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSansHebrew Extra';
	src: url('../fonts/OpenSansHebrew-ExtraBold.eot');
	src: url('../fonts/OpenSansHebrew-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansHebrew-ExtraBold.woff') format('woff'),
		url('../fonts/OpenSansHebrew-ExtraBold.ttf') format('truetype'),
		url('../fonts/OpenSansHebrew-ExtraBold.svg#OpenSansHebrew-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansHebrew Extra';
	src: url('../fonts/OpenSansHebrewExtraBold-Italic.eot');
	src: url('../fonts/OpenSansHebrewExtraBold-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansHebrewExtraBold-Italic.woff') format('woff'),
		url('../fonts/OpenSansHebrewExtraBold-Italic.ttf') format('truetype'),
		url('../fonts/OpenSansHebrewExtraBold-Italic.svg#OpenSansHebrewExtraBold-Italic') format('svg');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSansHebrew';
	src: url('../fonts/OpenSansHebrew-Regular.eot');
	src: url('../fonts/OpenSansHebrew-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansHebrew-Regular.woff') format('woff'),
		url('../fonts/OpenSansHebrew-Regular.ttf') format('truetype'),
		url('../fonts/OpenSansHebrew-Regular.svg#OpenSansHebrew-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Alef';
	src: url('../fonts/Alef-Bold.eot');
	src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Alef-Bold.woff2') format('woff2'),
		url('../fonts/Alef-Bold.woff') format('woff'),
		url('../fonts/Alef-Bold.ttf') format('truetype'),
		url('../fonts/Alef-Bold.svg#Alef-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Alef';
	src: url('../fonts/Alef-Regular.eot');
	src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Alef-Regular.woff2') format('woff2'),
		url('../fonts/Alef-Regular.woff') format('woff'),
		url('../fonts/Alef-Regular.ttf') format('truetype'),
		url('../fonts/Alef-Regular.svg#Alef-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}