@font-face
    font-family Roboto
    src: url('../fonts/Roboto-Regular.ttf')

body
	font-family 'Roboto', sans-serif


.pr-fz-16
    font-size 16px!important
.pr-fz-22
    font-size 22px!important
.pr-med
    font-weight 400!important
.slick-dots
    bottom -75px
    li button
        &:before
            width 16px
            height 16px
            background-color #e6daf9
.slick-dots li.slick-active button
    &:before
        background-color #fdd35d
    &:after
        content ''
        display block
        border-radius 50%
        width 10px
        height 10px
        position absolute
        top 3px
        left 3px
        background-color #3f1e77

.slick-prev, .slick-next
    background-color transparent
    background-image url('../img/arrow-ic.png')
    background-size cover
    background-repeat no-repeat
    background-position center
    width 15px
    height 28px

.slick-prev
    transform scale(-1, 1) translateY(-50%)
    left 36%
.slick-next
    right 36%

.pr-zoom
    border none
    position absolute
    bottom 10px
    right 10px
    width 40px
    height 40px

.pr-burger
    display none
    align-items center
    width 40px
    height 40px
    margin-left 15px
    position relative
    z-index 9999999
    transition: transform .5s cubic-bezier(0.875, 0.26, 0, 1.005) .15s, opacity .4s cubic-bezier(0.875, 0.26, 0, 1.005) .15s, visibility .5s linear .15s, background .2s linear 0s;
    span
        display block
        width 40px
        height 5px
        background-color #fff
        position relative
        transition all .2s
        border-radius 2px
        &:before, &:after
            content ''
            display block
            transition all .2s
            width 40px
            height 5px
            background-color #fff
            position absolute
            left 0
            border-radius 2px
        &:before
            top -10px
        &:after
            top 10px
.pr-burger.active
    position absolute
    transform translateX(-150px)
    span
        background-color transparent
        &:hover
            background-color transparent
        &:before
            top 0
            transform rotate(-135deg)
            background-color #fdd35d
        &:after
            top 0
            transform rotate(-45deg)
            background-color #fdd35d

/* CUSTOM STYLES */
header
    background-image url('../img/header_bg.png')
    background-position top center
    background-repeat no-repeat
    background-size cover
    background-color #f9f5ff
    .pr-row
        display flex
        align-items center
        justify-content space-between
        padding 0 150px
        min-height 80px
    .pr-col
        display flex
        align-items center
        justify-content center
    .pr-col-6
        width 10%
        flex-grow 1
    .pr-nav-line
        position relative
        overflow hidden
        &:after
            content ''
            max-width 1570px
            width 100%
            height 1px
            background-color #281050
            display block
            position absolute
            bottom 0
            left 50%
            transform translateX(-50%)
        nav
            height 80px
            width 100%
            ul
                height 100%
                margin 0 auto
                display flex
                align-items center
                justify-content center
                li
                    height 37px
                    margin 0 10px
                    border-radius 23px
                    padding 0 2%
                    line-height 37px
                    a
                        color #fff
                        font-weight 500
                        font-size 16px
                        white-space nowrap
                .pr-yellow-nav
                    background-color #fdd35d
                    a
                        color #3a1673
                        font-weight 600 
        .pr-phone
            display flex
            align-items center
            flex-wrap nowrap
            a
                color #fff
                font-size 18px
                font-weight bold
                white-space nowrap
            img
                margin-left 20px
    .pr-leng
        margin-top 20px
        margin-right 6%
        display flex
        align-items center
        justify-content space-between
        a
            font-size 16px
            text-align center
            font-weight 600
            display block
            color #fff
            text-transform uppercase
            width 36px
            height 36px
            line-height 36px
            border-radius 50%
            margin 0 5px
        a.active
            background-color #fdd35d
            color #3a1673
    .pr-main-title
        margin-top 48px
        text-align center
        h1
            font-size 60px
            color #fdd35d
            font-weight 500
        p
            font-weight 300
            color #fff
            font-size 35px
    .pr-table-title
        display flex
        align-items center
        justify-content space-between
        margin-top 70px
        margin-left 130px
        padding 0 5px
        max-width 960px
        p
            font-size 24px
            font-weight 300
            color #fff
            margin-bottom 0
            span
                color #fdd35d
                font-weight 500
        .pr-vs
            font-size 48px
            font-weight 500
            text-transform uppercase
    .pr-table-wrap
        background-image url('../img/table_bg.png')
        background-repeat no-repeat
        background-size cover
        padding 20px 30px
        margin-left 130px
        border-radius 10px
        box-shadow -4px 0 6px 3px rgba(66,66,66,0.16)
        max-width 960px
        table
            background-color #fcfcfd
            color #747577
            width 100%
            border-radius 10px
            p
                margin-bottom 0
            thead
                margin-top 20px
                tr
                    td
                        font-size 36px
                        font-weight 600
                        color #623d9f
                        text-align center
                        border 2px solid #f0f0f1
                        border-top none
                        padding-top 15px
                        &:first-child
                            border-left none
            .pr-margin
                border none
            .pr-table-row
                margin-top 12px
                transition all .2s
                &:last-child
                    margin-bottom 35px
                .pr-cell
                    padding 10px 5px
                    border 2px solid #f0f0f1
                    text-align center
                    &:last-child
                        border-right none
                    p
                        font-size 16px
                        font-weight 400
                    .pr-plus
                        font-size 30px
                        color #fdd35d
                        font-weight 600
                    .pr-minus
                        font-size 30px
                        color #c8c8c8
                        font-weight 600
                .pr-f-cell
                    text-align left
                    padding-left 30px
                    padding-right 60px
                    border-left 0
                .pr-f-cell
                    .pr-arrow
                        display none

.section
    text-align center
    .pr-title
        p
            font-size 48px
            line-height 1.33
            color #505254
            text-transform uppercase
            margin-bottom 0
        .pr-text
            font-size 24px
            font-weight 300
            max-width 990px
            margin 0 auto
            text-transform none
                        
.section_services
    text-align center
    background-image url('../img/services_bg.png')
    background-repeat no-repeat
    background-size cover
    padding 100px 0
    img
        max-width 1500px
        width 100%

.section_advantages
    margin-top 250px
    background-color #fff
    padding-bottom 150px
    .pr-adv-cells
        margin-top 100px
        .col-md-3:last-child
            .pr-adv-cell
                max-width 250px
        .pr-adv-cell
            max-width 220px
            p
                padding-top 40px
                font-size 21px
                color #565859
                font-weight 400

.section_start
    background-image url('../img/start_arrows.png'), url('../img/start_bg.png')
    background-repeat no-repeat
    background-size auto, cover
    background-position center 300px, top center
    background-color #fff
    padding-top 175px
    padding-bottom 250px
    .pr-title
        p
            color #fff
    .pr-start-row
        margin-top 120px
    .pr-start-cell
        background #ffd53d
        border-radius 10px
        min-height 108px
        padding 20px 30px
        position relative
        box-shadow -9px 0 27px 7px #5c408c
        display flex
        align-items center
        justify-content center
        min-width 100%
        z-index 1
        p
            color #4b4c4e
            text-align center
        .number
            position absolute
            font-size 100px
            font-weight 900
            color #fdd35d
            left -60px
            top 0
            line-height 100px
            z-index -1
        .number-2
            left -40px
        .number-3
            left -70px
    .pr-t-c
        margin-top 110px
    .pr-y-title
        position absolute
        font-size 60px
        color #ffd53d
        margin-bottom 0
        text-transform uppercase
        font-weight 900
        top 25px
        left 50%
        z-index 0
        transform translateX(-50%)
        width 100%
        line-height 1.33
    .pr-start-left, .pr-start-right
        margin-top 50px
        position relative
        .pr-cell
            position relative
            z-index 1
            background-color #5c408c
            min-height 130px
            min-width 350px
            padding 30px 40px
            text-align center
            color #fff
            font-size 16px
            margin-top 95px
            border-radius 10px
            box-shadow -9px 0 27px 7px rgba(123,95,169,.8)
            p
                font-size 16px

.section_recomend
    text-align left
    padding-top 50px
    padding-bottom 70px
    .pr-rec-text
        p.pr-title
            font-weight 300
            font-size 48px
            color #505254
        p
            font-size 16px
            color #505254
            margin-bottom 0
            line-height 1.33
        a
            font-size 16px
            color #5c408c
            font-weight 500
    .pr-rec-img
        position relative
        margin-right 40px
        a
            position relative
            display inline-block
            img
                width 115px
                border 1px solid #5c408c
            .pr-zoom
                width 40px
                border none
    .pr-rec-link
        a
            color #5c408c
            font-size 16px
            font-weight 400
            text-decoration underline
            margin-top 38px
            display inline-block
            &:hover
                text-decoration none        
    .pr-rec-logo
        img
            max-width 100%
.section_foundations
    background-image url('../img/foundations_bg.png')
    background-repeat no-repeat
    background-size cover
    background-position top center
    padding-top 125px
    padding-bottom 250px
    .pr-title
        text-align left
        padding-right 50px
        margin-bottom 145px
        span
            color #563887
    .pr-foundations-left
        padding-top 25px
        .pr-text
            text-align left
            p
                font-size 16px
                color #505254
                margin-bottom 25px
            a
                font-size 16px
                color #381572
                text-decoration underline
        .pr-bot-text
            margin-top 90px
            a
                font-weight 400
    .pr-foundations-right
        padding-left 130px
        max-width 830px
        text-align left
        .pr-top-row
            display flex
            align-items flex-start
            justify-content space-between
            p
                font-size 21px
                color #565859
                margin-bottom 0
                span
                    font-weight 500
            a
                display inline-block
                margin-top 25px
                color #5c408c
                font-size 16px
                font-weight 400
                text-decoration underline
        .pr-bot-row
            margin-top 100px
            .pr-title
                font-size 21px
                color #565859
                font-weight 500
                text-align left
                margin-bottom 25px
            .pr-text
                font-size 16px
                color #505254
                margin-bottom 0
                text-align left
            a
                display inline-block
                color #989ea4
                font-size 16px
                font-weight 300
                text-decoration underline
                margin-top 50px
                
.section_test
    background-image url('../img/test_bg.png')
    background-repeat no-repeat
    background-position bottom right
    padding-bottom 100px
    padding-top 100px
    .bg_stars
        position relative
        background-image url('../img/test_circles.png')
        background-position center
        background-repeat no-repeat
    .pr-title
        text-align center
        p
            text-align center
    .pr-form-wrap
        max-width 1120px
        margin 0 auto
        margin-top 60px
        width 100%
        padding 30px
        background-image url('../img/test_form_bg.png')
        background-size cover
        background-repeat no-repeat
        border-radius 10px
        form
            z-index 1
            background-color #fff
            padding-bottom 50px
            border-radius 10px
            .pr-form-row
                padding 30px 65px 30px 30px
                text-align left
            span
                font-size 18px
                color #381572
                font-weight 900
                text-align left
            p
                display inline-block
                font-size 18px
                color #505254
                text-align left

    input[type="text"]
    input[type="email"]
        max-width 960px
        width 100%
        padding 0 30px
        height 45px
        background-color #5c408c
        border-radius 10px
        box-shadow none
        border none
        color #fff
        &::placeholder
            font-size 16px
            color #fff
    input[type="email"]
        background-color #3f1e77
        &::placeholder
            font-size 16px
            color #fdd35d
            text-align center
    input[type="submit"]
    a.pr-sbm
        display inline-block
        color #5c408c
        font-size 16px
        font-weight 500
        width 195px
        height 47px
        border-radius 24px
        line-height 47px
        text-align center
        margin 0 auto
        background-color #fdd35d
        border none
        box-shadow none
        transition all .2s
        margin-top 20px
        &:hover
            text-decoration none
            background-color #f3ba1b
    

    .pr-result-modal
        position absolute
        bottom 35px
        left 50%
        transform translateX(-50%) rotate3d(0, 1, 0, 90deg)
        background-color #381572
        padding 45px 30px
        z-index 99
        border-radius 10px
        max-width 670px
        width 100%
        box-shadow -4px 0 16px 7px rgba(66,66,66,.28)
        transition: transform .5s cubic-bezier(0.875, 0.26, 0, 1.005) .15s, opacity .4s cubic-bezier(0.875, 0.26, 0, 1.005) .15s, visibility .5s linear .15s, background .2s linear 0s;
        .pr-close
            color #fff
            position absolute
            right 15px
            top 15px
            z-index 1
            &:hover
            &:active
                color #fdd35d
        .pr-modal-title
            margin-top 30px
            p
                font-size 16px
                color #fff
                line-height 1.33
                margin-bottom 0
        .pr-modal-inp
            margin-top 50px
        .pr-modal-sbm
            margin-top 50px

    .pr-result-modal.active
        transform translateX(-50%) rotate3d(0, 1, 0, 0deg)

    .pr-radio-wrap
        display flex
        align-items center
        flex-wrap wrap
        .pr-check-wrap
        .pr-inp-wrap
            display -webkit-flex
            display -moz-flex
            display -ms-flex
            display -o-flex
            display flex
            align-items center
        .pr-radio-inp:not(:checked) + label.pr-circle,
        .pr-radio-inp:checked + label.pr-circle
            line-height 16px
            
        .pr-radio-inp:checked + label.pr-circle,
        .pr-checkbox-inp:checked + label.pr-circle,
        .pr-radio-inp:not(:checked) + label.pr-circle,
        .pr-checkbox-inp:not(:checked) + label.pr-circle
            position relative
            cursor pointer
            display flex
            align-items center
            justify-content center
            width 16px
            height 16px
            margin-bottom 0
            margin-right 10px
            text-align center
            z-index 1
            font-size 12px
            font-weight 500
        .pr-radio-inp:checked + label.pr-circle:before,
        .pr-checkbox-inp:checked + label.pr-circle:before,
        .pr-radio-inp:not(:checked) + label.pr-circle:before,
        .pr-checkbox-inp:not(:checked) + label.pr-circle:before
            content ''
            position absolute
            left 0
            top 0
            width 16px
            height 16px
            border-radius: 100%
            background #e6daf9
            z-index -1
        .pr-radio-inp:checked + label.pr-circle:after,
        .pr-radio-inp:not(:checked) + label.pr-circle:after
            content ''
            width 10px
            height 10px
            background #5c408c
            position absolute
            top 3px
            left 3px
            border-radius 100%
            transition all 0.2s ease
        .pr-radio-inp:not(:checked) + label.pr-circle:after
            opacity 0
            transform scale(0)
        .pr-radio-inp:checked + label.pr-circle:after
            opacity 1
            transform scale(1)
        .pr-answer
            font-size 16px
            margin-bottom 0
            color #a99ac2
            transition all .2s ease
            margin-right 80px
            cursor pointer
        .pr-radio-inp:checked + label + label.pr-answer
            color #5c408c
            font-weight 500
    .pr-checkbox-wrap
        .pr-radio-inp
            &:after
                content ''

.section_faq
    background-position center
    background-repeat no-repeat
    padding-bottom 300px
    position relative
    margin-bottom 80px
    .pr-faq-bg
        position absolute
        z-index -1
        top -120px
        left 0
        width 100%
        height 100%
        img
            width 100%
            height 100%
    .pr-title
        p
            color #fff
    .pr-faq-wrap
        margin-top 20px
        .pr-faq-slide
            ul.pr-faq-ul
                margin 0
                padding 0
                color #fff
                text-align left
                li
                    background-color #3f1e77
                    min-height 70px
                    display -webkit-flex
                    display -moz-flex
                    display -ms-flex
                    display -o-flex
                    display flex
                    flex-direction column
                    margin-top 30px
                    cursor pointer
                    &:first-child
                        margin-top 0
                    .pr-list-title
                        display -webkit-flex
                        display -moz-flex
                        display -ms-flex
                        display -o-flex
                        display flex
                        align-items center
                        padding 20px 110px
                    p
                        margin 0
                        font-size 21px
                        color #fff
                        padding-left 25px
                    svg
                        fill #fff
                        transition all .2s
                li.active
                    p
                        color #fdd35d
                    svg
                        transform rotate(180deg)
                        fill #fdd35d
                    .pr-faq-ans
                        p
                            color #fff
                .pr-faq-ans
                    border-top 1px solid #35136e
                    background-color #3f1e77
                    max-height 150px
                    overflow-y auto
                    padding 25px 130px
                    display none
                    max-width 850px
                    p
                        color #fff
                        padding-left 25px
                        font-size 16px

.section_feedback
    padding-top 60px
    background-image url('../img/feedback_bg.png')
    background-repeat no-repeat
    background-position bottom left
    background-size 100%
    padding-bottom 125px
    .pr-title
        margin-bottom 130px
    .pr-feedback-slider
        height 385px
        padding 0 28px
        .pr-fb-slide
            height 385px
            display -webkit-flex
            display -moz-flex
            display -ms-flex
            display -o-flex
            display flex
            justify-content center
            align-items center
            a
                position relative
                width 100%
                .pr-fb-img
                    border 1px solid #422179
                    width 100%
        .pr_center_slide
            width 270px
            margin 0 90px
        .pr_first_slide
            margin 0 40px
        .pr_last_slide
            margin 0 40px
        .pr_last_slide, .pr_first_slide
            width 135px
            text-align center
        .pr_penultimate_slide, .pr_second_slide
            width 195px
        .slick-slide
            transition all .2s  

footer
    position relative
    background-color #faf7fe
    .pr-map
        padding-top 95px
        width 100%
        height 670px
        #map
            width 100%
            height 100%
    .pr-ftr-contacts
        position absolute
        top 0
        left 225px
        background-image url('../img/footer_bg.png')
        background-repeat no-repeat
        background-size cover
        color #fff
        padding 70px 100px 110px 80px
        min-height 510px
        max-width 656px
        width 100%
        z-index 999
        .pr-ftr-title
            p
                font-size 48px
                color #ededed
                text-transform uppercase
        ul
            li
                display -webkit-flex
                display -moz-flex
                display -ms-flex
                display -o-flex
                display flex
                align-items center
                justify-content flex-start
                p
                    margin-bottom 0
                .pr-yellow
                    color #fdd35d
                    text-transform uppercase
                    font-size 16px
                    font-weight normal
                a
                    font-size 16px
                    color #ededed
                    font-weight normal
                    text-decoration none
                .pr-ftr-icon
                    margin-right 15px
                    width 16px
    .pr-ftr-bottom
        background-color #381572
        min-height 80px
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        .pr-ftr-row
            height 100%
            display flex
            align-items center
            justify-content space-between
            max-width 1250px
            width 100%
            margin 0 auto
            .pr-ftr-left
                display flex
                align-items center
                justify-content flex-start
                height 100%
                p
                    color #ededed
                    font-size 17px
                    margin-bottom 0
                    font-weight normal
                    span
                        font-size 17px
                        color #fdd35d
                        font-weight 400
            .pr-ftr-center
                display -webkit-flex
                display -moz-flex
                display -ms-flex
                display -o-flex
                display flex
                align-items center
                height 100%
                a
                    display inline-block
                    margin 0 auto
                    font-size 16px
                    font-weight 300
                    color #fff
                    text-decoration none
            .pr-ftr-right
                height 100%
                display -webkit-flex
                display -moz-flex
                display -ms-flex
                display -o-flex
                display flex
                align-items center
                justify-content flex-end
                ul
                    display flex
                    align-items center
                    justify-content flex-end
                    margin-bottom 0
                    li
                        margin 0 20px
                        &:last-child
                            margin-right 0
                        &:first-child
                            margin-left 0


@media(max-width 1600px)
    header
        .pr-row
            padding 0
@media(max-width 1400px)
    header
        .pr-table-title
            margin 0 auto
            margin-top 70px
            margin-bottom 20px
        .pr-table-wrap
            margin 0 auto
        .pr-nav-line
            nav
                ul
                    li
                        margin 0 5px
            .pr-phone
                a
                    white-space normal
                img
                    margin-left 10px
    .section_faq
        .pr-faq-wrap
            .pr-faq-slide
                ul.pr-faq-ul
                    li
                        .pr-list-title
                            padding 20px
                        .pr-faq-ans
                            padding 25px 20px
    
    .section_start
        .pr-t-c
            margin-top 70px
@media(max-width 1350px)
    .section_start .pr-start-left .pr-cell
    .section_start .pr-start-right .pr-cell
        margin-top 75px
    .section_start .pr-y-title
        top 15px    
@media(max-width 1199px)
    header
        .pr-main-title
            h1
                font-size 40px
        .pr-nav-line
            overflow visible
            .pr-col-6
                justify-content flex-start
            .pr-burger
                display flex
            nav
                display flex
                position fixed
                top 0
                bottom 0
                left 0
                width 100vw
                height 100vh
                z-index 99999
                background-color #fff
                transform translateY(-100vh)
                transition transform .5s cubic-bezier(0.875, 0.26, 0, 1.005) .15s
                ul
                    display -webkit-flex
                    display -moz-flex
                    display -ms-flex
                    display -o-flex
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    li
                        a
                            color #5c408c
                            padding 0 5px
                            text-transform uppercase
            nav.show
                display flex
                left 0
                transform translateY(0)
                
        .pr-table-wrap
            table
                .pr-table-row
                    .pr-f-cell
                        border-top none
                        padding 10px 5px
                    .pr-cell
                        border 1px solid #f0f0f1
    
    .section_advantages
        margin-top 50px

    .section_start
        background-image url('../img/start_bg.png')
        background-position top center
        background-size cover
        .pr-start-cell
            min-width auto
            max-width 90%
            width 100%
            .number
                left -43px
        .pr-start-left .pr-cell
        .pr-start-right .pr-cell
            max-width 320px
            min-width auto
            width 100%
            margin 0 auto
            margin-top 95px
            min-height auto
        .pr-start-left
        .pr-start-right
            display flex
            flex-direction column
            align-items center
            justify-content flex-start
            margin-top 0
    .section_foundations
        .pr-foundations-left
            display flex
            flex-wrap wrap
            justify-content space-between
            margin-bottom 50px
            .pr-bot-text
            .pr-top-text
                margin 0
        .pr-foundations-right
            padding 0
    footer
        .pr-ftr-bottom
            .pr-ftr-row
                flex-wrap wrap
                .pr-ftr-left
                .pr-ftr-center
                .pr-ftr-right
                    width 100%
                    padding 10px 0
                    justify-content center
                    align-items center
                    
@media(max-width 767px)
    header
        .pr-main-title
            h1
                font-size 36px
            p
                line-height 1.33
                font-size 30px
        .pr-table-title
            flex-wrap wrap
            p
                text-align center
                line-height 1.33
                width 100%
    .section_start
        .pr-start-row
            margin-top 0
        .pr-start-cell
            max-width 90%
            width 100%
            margin-top 50px
        .pr-t-c
            margin-top 50px
    .section_faq
        background-image url('../img/faq_bg.png')
        background-size cover
        background-position top center
        padding-top 150px
        .pr-faq-bg
            display none
    .section_recomend
        .pr-rec-text
            p.pr-title
                font-size 36px
        .pr-rec-logo
            margin-top 25px
    .section
        .pr-title
            p
                font-size 38px
            .pr-text
                font-size 16px
    footer
        overflow hidden
        .pr-ftr-contacts
            position relative
            left 0
            background-color #3f1d77
            background-size cover
            width 100%
            max-width 100%
            min-height auto
            padding 15px
            p
                line-height 1.33
        .pr-map
            padding-top 0
    .section_test
        .pr-form-wrap
            padding 20px
            form
                .pr-form-row
                    padding 15px
        .pr-radio-wrap
            .pr-answer
                margin-right 10px
    .section_foundations
        .pr-title
            padding 0
@media(max-width 620px)
    footer .pr-ftr-contacts ul li
        flex-wrap wrap
        .pr-ftr-icon
            margin-right 3px
    .section
        .pr-title
            p
                font-size 34px

    header
        .pr-main-title
            h1
                font-size 31px
            p
                font-size 23px
        .pr-row
            flex-direction column
            .pr-col
                width 100%
            .pr-logo
                margin 30px 0
            .pr-phone
                width 100%
                justify-content flex-start
                position absolute
                bottom -50px
                left 0
                a
                    font-size 16px
        .pr-burger
            position absolute
            top 30px
            left 0
            margin-left 0
        .pr-burger.active
            transform translateX(0)
        .pr-table-wrap
            padding 15px