doctype html
html(lang="en")
	head
		title Europe Visa
		include incl/head
	body
		.pr-main-wrapper
			header
				.container-fluid
					.pr-nav-line
						.pr-row
							.pr-col-3.pr-col
								a(href="/").pr-logo
									img(src="img/logo.png" alt="logo")
							.pr-col-6.pr-col
								.pr-burger
									span
								nav
									ul
										-var nav = ['Главная','О нас','Схема работы','Статьи','Тест','Отзывы','Контакты'];
										-for(var i=0; i<7; i++){
											-if(i!=6){
												li
													a(href="javascript:void(0)")= nav[i]
											-}
											-if(i==6){
												li.pr-yellow-nav
													a(href="javascript:void(0)")= nav[i]
											-}
										-}
							.pr-col-3.pr-col
								.pr-phone
									a(href="tel:88001002245") 8 800 100-22-45
									img(src="img/viber-ic.png" alt="viber")
					.row
						.col-xl-12.d-flex.justify-content-end
							.pr-leng
								a(href="javascript:void(0)").active ru
								a(href="javascript:void(0)") eng
						.col-xl-12.d-flex.justify-content-center
							.pr-main-title
								h1 Разрешение на проживание в ЕС 
								p Литва за 2 недели!
					.row
						.col-xl-11.offset-xl-1
							.pr-table-title
								p Национальная Виза D  
									span на 1 год
								p.pr-vs vs
								p Вид на жительство  
									span на 2 года
							.pr-table-wrap
								table.responsive.pr-table
									thead
										tr.pr-table-head
											-var tHaed = ['','Visa D','ВНЖ'];
											-for(var i=0; i<3; i++){
												-if(i==0)
													td(width="550px").pr-cell.pr-first-cell= tHaed[i]
												-if(i!==0)
													td.pr-cell= tHaed[i]
											-}
									tbody
										-var tContent = ['Пребывание на территории SHENGEN стран без ограничения по количеству дней', 'Получение на срок', 'Продление на срок', 'Получение статуса резидента ЕС', 'Сроки получения', 'Получение автомобильных прав ЕС', 'Европейское медицинское страхование', 'Возможность приобрести авто и поставить его на учет в ЕС на свое имя', 'Получение ПМЖ через 5 лет и гражданства через следующие 5 лет'];
										-var visaD = ['+','1 год','1 год','-','до 14 дней','-','-','-','-'];
										-var vnj = ['+','2 года','2 года','+','до 2 месяцев','+','+','+','+'];
										-for(var i=0; i<9; i++){
											tr.pr-table-row
												td(data-label="").pr-cell.pr-f-cell
													p= tContent[i]
													.pr-arrow
														i.fa.fa-chevron-down(aria-hidden="true")
												td(data-label="Visa D").pr-cell.pr-closed
													-if(i==0)
														p.pr-plus= visaD[i]
													-if(i!==0 && i==3 || i==5 || i==6 || i==7 || i==8)
														p.pr-minus= visaD[i]
													-if(i!==0 && i!==3 && i!==5 && i!==6 && i!==7 && i!==8)
														p= visaD[i]
												td(data-label="ВНЖ").pr-cell.pr-closed
													-if(i==0 || i==3 || i==5 || i==6 || i==7 || i==8)
														p.pr-plus= vnj[i]
													-if(i!==0 && i!==3 && i!==5 && i!==6 && i!==7 && i!==8)
														p= vnj[i]
											-}
										tr.pr-margin(height="35")
			.section.section_services
				.container-fluid
					.row
						.col-xl-12
							.pr-title
								p Пакеты услуг
						.col-xl-12
							img(src="img/services_pic.png" alt="услуги")
			.section.section_advantages
				.container-fluid
					.row
						.col-xl-12
							.pr-title
								p Наши преимущества
								p.pr-text Нами накоплен огромный опыт в области миграционного права, <br> который позволяет нам по праву занимать лидирующую позицию на литовском рынке.
					.row.pr-adv-cells
						-var adv_text = ['Более 5 лет на рынке','Более 1000 клиентов получили ВНЖ','ВНЖ от 2 месяцев ВИЗА D от 2 недель','Общий уставной капитал нашей группы компаний 13,5 млн. евро'];
						-for(var i=0; i<4; i++){
							.col-xl-3.col-md-6.d-flex.justify-content-center.align-items-start
								.pr-adv-cell
									.pr-icon
										img(src="img/ic-"+[i]+".png" alt="icon")
									p.pr-text= adv_text[i]
						-}

			.section.section_start
				.container-fluid
					.row
						.col-12
							.pr-title
								p С чего начать?
					.row.pr-start-row
						.col-xl-3.col-md-6.offset-xl-3.d-flex.align-items-start.justify-content-center
							.pr-start-cell.pr-f-c
								p.pr-fz-22 Связаться с нами
								p.number.number-1 1
						.col-xl-3.col-md-6.d-flex.align-items-start.justify-content-center
							.pr-start-cell.pr-s-c
								p.pr-fz-16.pr-med Посетить любой из наших офисов в СПб, Москве или Вильнюсе для заключения договора 
								p.number.number-2 2
						.col-xl-3.col-md-12.offset-xl-5.d-flex.align-items-start.justify-content-center
							.pr-start-cell.pr-t-c
								p.pr-fz-16.pr-med Предоставить необходимые документы и внести предоплату 
								p.number.number-3 3
					.row
						-var visa_d_text = ['Для ВИЗЫ D','С готовым пакетом документов вы лично обращаетесь в консульство или Департамент Миграции в Вильнюсе','Получить визу D в загранпаспорт'];
						.col-xl-3.col-md-6.offset-xl-2.d-flex.justify-content-start.aling-items-center.flex-column
							.pr-start-left
								p.pr-y-title VISA D
								.pr-visad-cell.pr-cell
									p.pr-text.pr-fz-22.pr-med= visa_d_text[0]
								.pr-visad-cell.pr-cell
									p.pr-text= visa_d_text[1]
								.pr-visad-cell.pr-cell
									p.pr-text.pr-fz-22= visa_d_text[2]
						-var vnj_text = ['Для Вида На Жительство','Готовый документ по доверенности подает адвокат в Департамент Миграции в Вильнюсе','Оформить ID карту вида на жительство'];
						.col-xl-3.col-md-6.offset-xl-2.d-flex.justify-content-start.aling-items-center.flex-column
							.pr-start-right
								p.pr-y-title ВНЖ
								.pr-vnj-cell.pr-fz-22.pr-med.pr-cell
									p.pr-text= vnj_text[0]
								.pr-vnj-cell.pr-cell
									p.pr-text= vnj_text[1]
								.pr-vnj-cell.pr-cell
									p.pr-text.pr-fz-22= vnj_text[2]

			.section.section_recomend
				.container-fluid
					.row
						.col-xl-4.offset-xl-2.d-flex.justify-content-between.flex-wrap
							.pr-rec-text
								p.pr-title Нас рекомендует
								p Ассоциация Правовой Помощи Бизнес - Мигрантам
								a(href="javascript:void(0)") «Verslu Immigrantu Teisines Pagalbos Asociacija»
							.pr-rec-img
								a(href="javascript:void(0)")
									img(src="img/doc.png" alt="doc").pr-doc
									img(src="img/zoom-in.png" alt="zoom").pr-zoom
						.col-xl-4.offset-xl-1
							.pr-rec-logo
								img(src="img/vilpa.png" alt='vilpa')
							.pr-rec-link
								a(href="javascript:void(0)") www.vitpa.lt

			.section.section_foundations
				.container-fluid
					.row
						.col-xl-7.offset-xl-2
							.pr-title
								p На каком основании я могу получить  
									span Визу D  
									|или  
									span ВНЖ
									|?
					.row
						.col-xl-3.offset-xl-2
							.pr-foundations-left
								.pr-text.pr-top-text
									p Закон о правовом положении иностранных лиц <br> в Литовской Республике
									a(href="javascript:void(0)") актуальная версия
								.pr-text.pr-bot-text
									p Сайт Департамента Миграции   
									a(href="javascript:void(0)") www.migracija.lt
						.col-xl-6
							.pr-foundations-right
								.pr-top-row
									.pr-left
										p.pr-text Основание для  
											span ВИЗЫ D
										a(href="javascript:void(0)")   • Статья 17
									.pr-right
										p.pr-text Основание для  
											span ВНЖ
										a(href="javascript:void(0)")   • Статья 45
								.pr-bot-row
									p.pr-title Пояснения
									p.pr-text Вы приобретаете новую компанию или мы открываем ее для Вас по доверенности; компания полностью соответствует требованиям законодательства Литовской Республики для получения вида на жительство
									a(href="javascript:void(0)") Другие пояснения

			.section.section_test
				.bg_stars
					.container-fluid
						.row
							.col-xl-12
								.pr-title
									p Не можете определиться ?
									p.pr-text Вам поможет наш ТЕСТ
							.col-xl-8.offset-xl-2.d-flex.justify-content-center
								.pr-form-wrap
									form
										.pr-form-row
											p.pr-form-title
												span 1.  
												| Какова ваша цель при устройстве на новой территории ?
											input(type="text" required placeholder="Введите Вашу цель")
										-var radio_title = ['Планируете ли Вы в будущем оформлять постоянное место жительства ?','Намерены ли Вы  получить разрешение на проживание один или с семьей ?','Планируете ли Вы открывать счета в банках ЕС?','Планируете ли Вы заниматься бизнесом в ЕС ?','Расставьте приоритеты в порядке убывания: ','Были ли у Вас отказы в визах, ВНЖ ? ','Где планируете проводить больше времени ?'];
										-var inpts = ['стоимость','надежность','сроки получения','простота'];
										-for(var i=0; i<7; i++){
											.pr-form-row
												span.pr-counter= [(i+2)]
												p.pr-form-title= radio_title[i]
												-if(i!==4 && i!==6){
													.pr-radio-wrap
														-for(var j=0; j<2; j++){
															.pr-inp-wrap
																input(type="radio" id="radio_"+[j]+"_"+[i] name="radio-group_"+[i]).pr-radio-inp
																label(for="radio_"+[j]+"_"+[i]).pr-circle
																label(for="radio_"+[j]+"_"+[i]).pr-answer
																	-if(j!==1)
																		| Да
																	-if(j==1)
																		| Нет
														-}
												-}
												-if(i==4){
													.pr-radio-wrap.js-row.pr-checkbox-wrap
														-for(var j=0; j<4; j++){
															.pr-check-wrap
																input(type="checkbox" id="radio_"+[j]+"_"+[i] name="radio-group_"+[i]).pr-checkbox-inp
																label(for="radio_"+[j]+"_"+[i]).pr-circle
																label(for="radio_"+[j]+"_"+[i]).pr-answer
																	-if(j==0)
																		| стоимость
																	-if(j==1)
																		| надежность
																	-if(j==2)
																		| сроки получения
																	-if(j==3)
																		| простота
														-}
												-}
												-if(i==6){
													.pr-radio-wrap
														-for(var j=0; j<4; j++){
															.pr-inp-wrap
																input(type="radio" id="radio_"+[j]+"_"+[i] name="radio-group_"+[i]).pr-radio-inp
																label(for="radio_"+[j]+"_"+[i]).pr-circle
																label(for="radio_"+[j]+"_"+[i]).pr-answer
																	-if(j==0)
																		| на родине
																	-if(j==1)
																		| в Литве
																	-if(j==2)
																		| в ЕС
																	-if(j==3)
																		| в других странах
														-}
												-}
										-}
										a.pr-sbm(href="#pr-result-modal") Узнать результат
										.pr-result-modal
											.pr-close X
											.pr-modal-title
												p Введите Вашу почту и мы вышлем Вам письмо с результатами теста
											.pr-modal-inp
												input(type="email" placeholder="Ваш e-mail" required)
											.pr-modal-sbm
												input(type="submit" value="Отправить")

			.section.section_faq
				.pr-faq-bg
					img(src="img/faq_bg.png" alt="bg")
				.container-fluid
					.row
						.col-xl-12
							.pr-title
								p FAQ
						.col-xl-6.offset-xl-3
							.pr-faq-wrap
								-var faq_li = ['В какой срок вы сделаете визу D?','Какова цена за услуги? ','Что входит в эту цену?','На какой срок вы делаете визу?'];
								-for(var i=0; i<4; i++){
									.pr-faq-slide
										ul.pr-faq-ul
											-for(var j=0; j<4; j++){
												li
													.pr-list-title
														.
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve" width="19px" height="10px">
															<polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/></svg>
														p.pr-faq-title= faq_li[i]
													.pr-faq-ans
														p До двух недель уходит на подготовку и подачу документов на получение национальной визы D
											-}
										-}

			//-.section.section_feedback
			//-	.container-fluid
			//-		.row
			//-			.col-xl-12
			//-				.pr-title
			//-					p ОТзывы
			//-			.col-xl-8.offset-xl-2
			//-				.pr-feedback-slider
			//-					-for(var i=0; i<20; i++){
			//-						.pr-fb-slide
			//-							a(href="javascript:void(0)")
			//-								img(src="img/feedback_pic.png" alt="feedback").pr-fb-img
			//-								img(src="img/zoom-in.png" alt="zoom").pr-zoom
			//-					-}

			footer
				.pr-ftr-contacts
					.pr-ftr-title
						p Контакты
					-var ftr_phone = ['+7 495 733-99-87','+7 812 494-88-55','+370 6446-7777','+370 5 208-06-58'];
					-var ftr_city = [' Москва',' Санкт-Петербург',' Вильнюс',' Вильнюс'];
					-var ftr_contacts_l = ['Почта','Skype','Адрес в Вильнюсе','Мы работаем'];
					-var ftr_contacts_r = ['info@consultingplus.lt','vnzh.lt','Vilnius, Naugarduko g. 102 - оф. 803','пн-пт с 9-00 до 18-00'];

					.pr-ftr-phones
						ul.pr-phones
							-for(var i=0; i<4; i++){
								li
									-if(i==0)
										.pr-ftr-icon
											img(src="img/phone-ic.png" alt='phone')
									-if(i!==0)
										.pr-ftr-icon
									a(href="javascript:void(0)").pr-number= ftr_phone[i]+'  -  '
									p.pr-city.pr-yellow= ftr_city[i]
							-}
						ul.pr-contacts
							-for(var i=0; i<4; i++){
								li
									.pr-ftr-icon
										img(src="img/ftr-ic-"+[i]+".png" alt='icon')
									p.pr-contact_l.pr-yellow= ftr_contacts_l[i]
									a(href="javascript:void(0)").pr-contact_r= ": " +ftr_contacts_r[i]
							-}
				.pr-map
					#map
				.pr-ftr-bottom
					.container-fluid
						.pr-ftr-row
							.pr-ftr-left
								p
									span OU «Consulting Plus»  
									| - лидер на рынке бизнес-иммиграции в Литве
							.pr-ftr-center
								a(href="javascript:void(0)") Политика конфиденциальности
							.pr-ftr-right
								ul.ftr-links
									-for(var i=0; i<3;i++){
									li
										a(href="javascript:void(0)")
											img(src="img/ftr-b-"+[i]+".png" alt="icon")
									-}

			// FOOTER END
			
		script(type="text/javascript" src="js/jquery-3.2.1.min.js")
		script(type="text/javascript" src="js/slick.min.js")
		script(type="text/javascript" src="js/custom.js")
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3Tq1nyEsoNcHKz0QfcR9qyMh6JH55Gn8&callback=initMap")