meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
link(rel="stylesheet" type="text/css" href="css/main.css")
link(rel="stylesheet" type="text/css" href="css/fonts.css")
link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet")
link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")
link(rel="stylesheet" type="text/css" href="css/jquery.scrollbar.css")
link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="css/slick.css")
link(rel="stylesheet" type="text/css" href="css/table.css")
link(rel="stylesheet" type="text/css" href="css/style.css")