script(type="text/javascript" src="js/jquery-3.2.1.min.js")
script(type="text/javascript" src="js/jquery.scrollbar.min.js")
script(type="text/javascript" src="js/slick.min.js")
script(type="text/javascript" src="js/remodal.js")
script(type="text/javascript" src="js/custom.js")